<!doctype html>
<html lang="en" dir="ltr">
<head>
    <title>Branch - Food Order</title>
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="assets/css/core/libs.min.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="assets/css/aprycot.mine209.css?v=1.0.0">
    <script src="https://kit.fontawesome.com/57fb3a2c46.js" crossorigin="anonymous"></script>
    <style>
        .box {
            width: 120px;
            height: 120px;
            text-align: center;
            outline-style: dotted;
            border-radius: 30px;
        }
    </style>
</head>
<body>
<%- include("sidebar.ejs") %>
<main class="main-content">
    <div class="position-relative">
        <%- include("nav.ejs") %>
    </div>
    <div class="content-inner mt-5 py-0">

        <div class="row">
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Orders</h4>
                        </div>
                    </div>
                    <div class="card-body px-0">
                        <div class="table-responsive">
                            <table id="user-list-table" class="table table-striped" role="grid"
                                   data-toggle="data-table">
                                <thead>
                                <tr class="ligth">
                                    <th>No</th>
                                    <th>Table</th>
                                    <th>Payment Type</th>
                                    <th>Total Price</th>
                                    <th style="min-width: 100px">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% orderData.forEach((order, index) => { %>
                                    <tr>
                                        <td><%= index + 1 %></td>
                                        <td><%= order.table_id.table_name %></td>
                                        <th><%= ['online', 'card', 'cash', 'other'][order.payment_mode - 1] %></th>
                                        <td><%= order.total_price %></td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-primary view-details"
                                                    data-index="<%= index %>">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <% orderData.forEach((order, index) => { %>
                    <div class="card order-details <%= index === 0 ? 'active' : '' %>" data-index="<%= index %>">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Orders: <%= index + 1 %></h4>
                            </div>
                        </div>
                        <div class="card-body px-0">
                            <div class="table-responsive">
                                <table id="user-list-table" class="table table-striped" role="grid"
                                       data-toggle="data-table">
                                    <thead>
                                    <tr class="light">
                                        <th>No</th>
                                        <th>Sub Item Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% order.item.forEach((item, itemIndex) => { %>
                                        <tr>
                                            <td><%= itemIndex + 1 %></td>
                                            <td><%= `${item.food_sub_item_id.item_name} (${item.food_sub_item_id.sub_item_name})` %></td>
                                            <td><%= item.quantity %></td>
                                            <td><%= item.quantity * item.price %></td>
                                        </tr>
                                    <% }) %>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td></td>
                                        <td></td>
                                        <td><%= order.total_price %></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

    </div>
</main>
<script>

            document.addEventListener('DOMContentLoaded', function () {
            const orderDetails = document.querySelectorAll('.order-details');

            orderDetails.forEach((orderDetail) => {
                orderDetail.style.display = 'none';
            });

            const viewButtons = document.querySelectorAll('.view-details');

            viewButtons.forEach((button) => {
                button.addEventListener('click', function () {
                    const index = this.getAttribute('data-index');

                    // Hide all order details
                    orderDetails.forEach((orderDetail) => {
                        orderDetail.style.display = 'none';
                    });

                    // Show the clicked order detail
                    document.querySelector('.order-details[data-index="' + index + '"]').style.display = 'block';
                });
            });
        });
</script>

<%- include("links.ejs") %>
</body>
</html>